<?xml version="1.0" encoding="UTF-8"?>
<wb:dataset xmlns:wb="http://contao.bit3.de/website_builder"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://contao.bit3.de/website_builder https://raw.github.com/bit3/contao-WebsiteBuilder/master/src/system/modules/website_builder/config/website_builder.xsd">
	<wb:name>(Contao 3) Kalender - deutsch</wb:name>
	<wb:description>Erstellt einen neuen Kalender, eine Teaser und eine Leserseite.</wb:description>

	<wb:variable name="root_page">
		<wb:label>Basisseite</wb:label>
		<wb:description>Die Basisseite, in der die neuen Seiten eingefügt werden.</wb:description>
		<wb:inputType>pageTree</wb:inputType>
		<wb:eval>
			<wb:fieldType>radio</wb:fieldType>
		</wb:eval>
	</wb:variable>

	<wb:variable name="theme">
		<wb:label>Theme</wb:label>
		<wb:description>Das Theme, dem die Module hinzugefügt werden sollen.</wb:description>
		<wb:inputType>select</wb:inputType>
		<wb:foreignKey>tl_theme.name</wb:foreignKey>
	</wb:variable>

	<wb:variable name="calendar_title">
		<wb:label>Kalender</wb:label>
		<wb:description>Der Name des Kalenders.</wb:description>
	</wb:variable>

	<!-- Teaser-Seite -->
	<wb:row table="tl_page" var="page_teaser">
		<wb:field name="pid">$root_page</wb:field>
		<wb:field name="title">$calendar_title</wb:field>
		<wb:field name="type">regular</wb:field>
		<wb:field name="language" inherit="true"/>
		<wb:field name="published">1</wb:field>
		<!-- Artikel -->
		<wb:child table="tl_article">
			<wb:field name="title">$calendar_title</wb:field>
			<wb:field name="inColumn">main</wb:field>
			<wb:field name="published">1</wb:field>
			<!-- Inhaltselement -->
			<wb:child table="tl_content">
				<wb:field name="type">module</wb:field>
				<wb:field name="module">$module_teaser.id</wb:field>
			</wb:child>
		</wb:child>

		<!-- Nachrichtenleser-Seite -->
		<wb:child table="tl_page" var="page_reader">
			<wb:field name="title">Termin</wb:field>
			<wb:field name="type">regular</wb:field>
			<wb:field name="language" inherit="true"/>
			<wb:field name="published">1</wb:field>
			<!-- Artikel -->
			<wb:child table="tl_article">
				<wb:field name="title">Nachricht</wb:field>
				<wb:field name="inColumn">main</wb:field>
				<wb:field name="published">1</wb:field>
				<!-- Inhaltselement -->
				<wb:child table="tl_content">
					<wb:field name="type">module</wb:field>
					<wb:field name="module">$module_reader.id</wb:field>
				</wb:child>
			</wb:child>
		</wb:child>
	</wb:row>

	<!-- Nachrichtenarchiv -->
	<wb:row table="tl_calendar" var="calendar">
		<wb:field name="title">$calendar_title</wb:field>
		<wb:field name="jumpTo">$page_reader.id</wb:field>
	</wb:row>

	<!-- Module -->
	<wb:row table="tl_module" var="module_teaser">
		<wb:field name="pid">$theme</wb:field>
		<wb:field name="type">eventlist</wb:field>
		<wb:field name="name">$calendar_title - Teaser</wb:field>
		<wb:field name="cal_calendar" force-array="true">$calendar.id</wb:field>
		<wb:field name="cal_noSpan">1</wb:field>
		<wb:field name="cal_format">cal_month</wb:field>
		<wb:field name="cal_template">event_teaser</wb:field>
	</wb:row>
	<wb:row table="tl_module" var="module_reader">
		<wb:field name="pid">$theme</wb:field>
		<wb:field name="type">eventreader</wb:field>
		<wb:field name="name">$calendar_title - Leser</wb:field>
		<wb:field name="cal_calendar" force-array="true">$calendar.id</wb:field>
		<wb:field name="cal_template">event_full</wb:field>
	</wb:row>
</wb:dataset>
