/**
 * Stylesheet for basic layout styles.
 *
 * @author  Tristan Lins <tristan.lins@bit3.de>
 * @link    http://bit3.de
 * @licence http://creativecommons.org/publicdomain/zero/1.0/ CC-0
 */

/** --- Accordion ------------------------------------------------------- */
.toggler,
.toggler-active {
	cursor: pointer;
	background: none no-repeat 4px center transparent;
	padding: .25em 1em .25em 22px;
}
.toggler {
	background-image: url(../images/collapsed.gif);
}
.toggler-active {
	background-image: url(../images/open.gif);
}
.accordion_content {
	padding: 1em 1em 0;
}
.accordion_content .accordion,
.ce_accordion {
	margin-bottom: 1em;
}
